body {
	margin: 0;

}

.hero {
	width: 100%;
	min-height: 100vh;
	background-image: url('../img/image.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.content {
color: #544837;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
width: 458px;
height: 95px;
}

.site-name {
color: #2F281E;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 54px;
margin-left: 145px;
}

